[Unit]
Description=Xiaomi Mi Scale MQTT Service
Documentation=https://github.com/zibous/ha-miscale2
After=network.target

[Service]
Type=notify
User=daemon
Group=daemon
WorkingDirectory=/opt/ha-miscale2/
ExecStart=/usr/bin/python3 /opt/ha-miscale2/mqttservice.py
StandardOutput=null
#StandardOutput=syslog
#SyslogIdentifier=miscale
StandardError=journal
Environment=PYTHONUNBUFFERED=true
Restart=always

[Install]
WantedBy=multi-user.target