[Unit]
Description=Xiaomi Mi Scale Service Application
Documentation=https://github.com/zibous/ha-miscale2
After=network.target

[Service]
Type=notify
User=root

WorkingDirectory=/opt/ha-miscale2/
ExecStart=/usr/bin/python3 /opt/ha-miscale2/app.py

StandardOutput=inherit
StandardError=inherit

StandardError=journal
Environment=PYTHONUNBUFFERED=true
Restart=always

[Install]
WantedBy=multi-user.target