[Unit]
Description=Xiaomi Mi Scale Service Application
Documentation=https://github.com/zibous/ha-miscale2
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/ha-miscale2
ExecStart=/opt/ha-miscale2/service.sh
Restart=always

[Install]
WantedBy=multi-user.target
